<h2 mat-dialog-title>{{ data.id ? 'Editar Persona' : 'Agregar Persona' }}</h2>

<div mat-dialog-content>
    <form [formGroup]="personForm">
      <mat-form-field appearance="fill">
        <mat-label>Nombres(s)</mat-label>
        <input matInput formControlName="nombres" />
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Apellido Paterno</mat-label>
        <input matInput formControlName="apellidoP" />
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Apellido Materno</mat-label>
        <input matInput formControlName="apellidoM" />
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Dirección</mat-label>
        <input matInput formControlName="direccion" />
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="telefono" />
      </mat-form-field>
    
      <div mat-dialog-actions>
        <button mat-button (click)="onCancel()">Cancelar</button>
        <button mat-raised-button color="primary" (click)="onSave()">Guardar</button>
      </div>
    </form>
</div>